body {
  font-family: 'Work Sans', sans-serif !important;
}

.prov-logo:hover {
  cursor: pointer;
}

.back-button {
  margin-left: 6%;
  margin-top: 2%;
}

.top-rated-provs-container {
  font-weight: bold;
}
.project-container {
  margin-left: 25%;
}

.project-tile-text {
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.bubble-container:hover {
  color: white;
  background-color: rgb(61, 61, 61);
}

.descriptionBox, .outcomeBox{
  width: 400px;
  height: 100px;
  border: 1px solid black;
}

.projectEntry, .setUpEntry, #goalSubmit, #materialSubmit{
  width: 300px;
  border: 1px solid black
}

.list-image {
  height: 15rem;
}
