body {
  font-family: 'Work Sans', sans-serif !important;
}

.prov-logo:hover, .nav-item {
  cursor: pointer;
}

.back-button {
  font-weight: 600;
  font-size: 20px;
}

.top-rated-provs-container {
  font-weight: bold;
}

.project-container {
  margin-left: 25%;
}

.project-title {
  font-weight: 600;
}

.project-desc-text,
.project-setup-steps,
.project-outcomes-text,
.rating-text,
.rating-details-input,
.rating-score-input {
  font-size: 17px;
  font-weight: 200;
}

.project-goals-header,
.project-setup-header,
.project-materials-header,
.project-outcomes-header,
.project-rating-header {
  font-size: 32px;
}

.bubble-container {
  text-align: center;
}

.bubble-container:hover {
  color: white;
  background-color: rgb(61, 61, 61);
}

.descriptionBox, .outcomeBox{
  width: 100%;
  height: 40%;
  border: 1px solid black;
}

.projectEntry, .setUpEntry, #goalSubmit, #materialSubmit{
  width: 300px;
  border: 1px solid black
}


.project-media-container,
.project-card-container {
  color: black;
}

.project-card:hover {
  color: black;
  text-decoration: none;
}


.searchButton, .uploadPicButton, .projectSubmitButton, .editProjectButton,.editUserButton {
  background:#f8b1d1;
  color: white;
}

.editUserButton {
  height: 30px;
  max-width: 100px;
}

.searchButton:hover, .write-button-container:hover {
  background: #ff70b3;
  color: white;
  text-decoration: none;
}

.searchBar{
  background: rgb(250, 249, 249);
}

.searchBar::placeholder{
  color: lightgrey;
}

.star-rating__star.is-selected {
  color: #f8b1d1;
}

.star-rating__star {
  color: #F5F5F5;
}

.star-rating__star:hover,
.back-button-container {
  cursor: pointer;
}

/* .uploadPicButton {
  border-style: none;
  width: 110px;
  height: 35px;
} */

/* .next-page-button-container {
  margin-top: 315px;
  margin-left: 100px;
} */

.inputButton {
  border: 2px solid #f8b1d1;
}

.pic, .enter-info {
  font-size: 0.8rem;
  font-weight: 500;
}

.username-key,
.username-value,
.experience-key,
.experience-value,
.about-me-key,
.about-me-value,
.projects-amount-key,
.projects-amount-value,
.points-amount-key,
.points-amount-value,
.name-key,
.name-value,
.member-since-key {
  font-weight: 500;
  font-size: 18px;
}

.username-key-value-container,
.experience-key-value-container,
.about-me-key-value-container,
.about-me-key-value-container,
.projects-amount-key-value-container,
.points-amount-key-value-container,
.name-key-value-container,
.member-since-key-value-container,
.comment-container {
  border-bottom: 1px solid  #f8b1d1;
}

.comment-container {
  border-bottom: 1px solid #f8b1d1;
}

.username-value-text,
.name-value-text,
.experience-value-text,
.about-me-text,
.projects-amount-value-text {
  font-weight: 200;
}

.carousel-image {
  border-radius: 15px;
}

.grey-icon {
  color: rgb(224, 217, 217);
}

.project-list-item-image-container {
  width: 250px;
  height: 250px;
}

.filter-item:hover {
  background-color: #ffebf4 !important;
}

.write-button-container {
  right: 10%;
  bottom: 10%;
  position: fixed;
  border-radius: 100%;
  background-color: #f8b1d1;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  height: 75px;
  transition: min-width 0.3s;
}

.write-button-pen {
  font-size: 2rem;
}
.submittedImage {
  width: 20rem;
  height: 20rem;
  margin: 22px;
}

.submitForm {
  margin-top: 40px;
}

@media (min-height: 1024px) {
  .description {
    margin-top: 24px;
  }
  .goals {
    margin-top: 24px;
  }
  .materials {
    margin-top: 24px;
  }
  .set-up {
    margin-top: 24px;
  }
  .outcomes {
    margin-top: 24px;
    margin-bottom: 50px;
  }
  .spacer {
    width: 0px;
  }

}

@media (min-width: 1024px) {
  .submitForm {
  margin-top: 30px;
  }
  .description {
    margin-top: 60px;
    width: 100%;
  }
  .goals {
    margin-top: 60px;
  }
  .materials {
    margin-top: 60px;
  }
  .set-up {
    margin-top: 60px;
  }
  .outcomes {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .spacer {
    width: 0px;
  }
}


@media (min-height: 1024px) {
  .next-page-button-container {
    margin-top: 600px;
    margin-left: 70px;
  }
}


@media (min-width: 1024px) {
  .picForm-div {
   margin-top: 100px;
  }
  .select-photo-text {
    font-size: 30px;
  }
  .inputButton {
    margin-top: 25px;
    width: 530px;
    height: 35px;
  }
  .uploadPicButton {
    margin-top: 250px;
    width: 250px;
    height: 100px;
  }
  .submittedImage {
    width: 33rem;
    height: 30rem;
  }

}

@media (min-width: 577px) {
  .submitForm {
    margin-left: 25px;
  }
}

@media (min-width: 630px) {
  .submitForm {
    margin-left: 80px;
  }
}

@media (min-width: 1418px) {
  .submitForm {
    margin-left: 110px;
  }
}



@media (min-width: 766px) {
  .project-card-container {
    display: none;
  }
}

@media (max-width: 766px) {
  .project-media-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerbox {
    padding-left: 30px;
  }
}

@media (max-width: 1200px) and (min-width: 967px) {
  .headerbox {
    padding-left: 130px;
  }
}

@media (min-width: 1200px) {
  .headerbox {
    padding-left: 220px;
  }

  .search-bar-container {
    width: 800px;
  }
}
@media (min-width: 1024px){
  .details-info-container{
    margin-left: 145px;

  }
  .project-outcomes-container{
    padding: 0px;
    margin-right: 15px;
  }
}

.user-profile-pic, .comment-user-pic {
  border: 2px solid #f8b1d1;
  border-radius: 50%;
}

.user-pic-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-avatar-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.login-to-leave-review {
  border: 1px solid #f8b1d1;
}

.comment-date {
  color: #6c757d;
  font-size: 12px;
}

.textarea {
  width: 100%;
}
