body {
  font-family: 'Work Sans', sans-serif !important;
}

.descriptionBox, .outcomeBox{
  width: 400px;
  height: 100px;
  padding: 50px;
  border: 1px solid black
}

.projectEntry, .setUpEntry, #goalSubmit, #materialSubmit{
  width: 300px;
  border: 1px solid black
}

.list-image {
  height: 15rem;
}
