#root {
  font-family: 'Work Sans', sans-serif !important;
}

.prov-logo:hover {
  cursor: pointer;
}

.back-button {
  margin-left: 6%;
  margin-top: 2%;
}

.top-rated-provs-container {
  font-weight: bold;
}

.project-tile-text {
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.bubble-container:hover {
  color: white;
  background-color: rgb(61, 61, 61);
}

.descriptionBox, .outcomeBox{
  width: 400px;
  height: 100px;
  border: 1px solid black;
}

.projectEntry, .setUpEntry, #goalSubmit, #materialSubmit{
  width: 300px;
  border: 1px solid black
}

.searchButton{
  background:#f8b1d1;
  color: white;
}
.searchButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.searchBar{
  background: rgb(250, 249, 249);
}
.searchBar::placeholder{
  color: lightgrey;
}

.listItemCard{
  border: solid 1px black;
}

.project-list-item{
  margin-right: 19px;
  padding-right: 0px;
}
